html, body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  min-height: 100%;
  background-color: #fbfbfb;
  color: #363636;
}

.content {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.container {
  display: grid;
  grid-auto-rows: minmax(400px, 700px), 400px, 500px, minmax(10px, auto);
  grid-template-columns: 32.5% 32.5% 32.5%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;

  margin-top: 10px;
}

.dashboard-container {
  display: grid;
  grid-auto-rows: minmax(400px, 700px), 400px, 500px, minmax(10px, auto);
  grid-template-columns: 32.1% 33% 32.1%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;

  margin-top: 10px;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.v-box__header {
  font-weight: bold;
  padding: 3px 6px;
  background-color: #e7e7e7;
}

.v-box__content {
  border: 1px solid #e7e7e7;  
  background-color: #ffffff;
}

.v-box__chart {
  display: flex;
  flex-flow: row norwap;
  justify-content: center;
}

.cp {
  display: flex;
  justify-content: space-around
}

.cp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 280px;
  padding: 10px;
}

.cp-box__header {
  margin-bottom: -15px;
}

.cp-box__description {
  font-size: 13px;
}

.highcharts-button-box {
  fill: #ffffff;
  stroke: #da1b60;
}

.highcharts-reset-zoom tspan {
  fill: #da1b60;
}

.point-hover {
  fill: #2b912b;
  fill-opacity: 0.5;
}

.c-selectors {
  color: #176bc0;
}

.c-dashboard {
  color: #1a9fd4;
}

.c-spec {
  color: #171ac0;
}

.err {
  color: #d84930;
}

.fact-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fact {
  border: 1px solid #e7e7e7;  
  background-color: #ffffff;
  height: 70px;
  width: 170px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  /* margin-right: 20px; */
}

.fact__header {
  display: flex;
  flex-flow: column nowrap;

  width: 75%;
  color: #525252;
}

.fact__content {
  font-size: 13px;
}

.fact__icon {
  text-align: center;
  width: 20%;
}

.fact__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.tooltip-icon {
  display: inline-block;
}

.active {
  display: block;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #ffffff;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  padding: 5px 10px 4px;
  max-width: 300px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #2c3e50;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}