html, body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  min-height: 100%;
  background-color: #fbfbfb;
}

.content {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.container {
  display: grid;
  grid-auto-rows: minmax(400px, 700px), 400px, minmax(10px, auto);
  grid-template-columns: 29% 69%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;

  margin-top: 10px;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.v-box__header {
  font-weight: bold;
  padding: 3px 6px;
  background-color: #e7e7e7;
}

.v-box__content {
  border: 1px solid #e7e7e7;  
  background-color: #ffffff;
}

.v-box__chart {
  display: flex;
  flex-flow: row norwap;
  justify-content: center;
}

.cp {
  display: flex;
  justify-content: space-around
}

.cp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 280px;
  padding: 10px;
}

.cp-box__header {
  margin-bottom: -15px;
}

.cp-box__description {
  font-size: 13px;
}

.highcharts-button-box {
  fill: #ffffff;
  stroke: #da1b60;
}

.highcharts-reset-zoom tspan {
  fill: #da1b60;
}

